.blogs .box-container {
    @include grid(32rem);
    .box {
        border-radius: 1rem;
        background: $bg-color;
        overflow: hidden;
        &:hover {
            .image img {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
            }
        }
        .image {
            height: 25rem;
            overflow: hidden;
            width: 100%;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .content {
            padding: 2rem;
            .link {
                font-size: 2rem;
                color: $white;
                &:hover {
                    color: $blue;
                }
            }
            p {
                padding: 1rem 0;
                font-size: 1.4rem;
                color: $light-color;
                line-height: 2;
            }
            .icon {
                padding-top: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                a {
                    font-size: 1.4rem;
                    color: $light-color;
                    &:hover {
                        color: $blue;
                    }
                    i {
                        padding-right: .5rem;
                        color: $blue;
                    }
                }
            }
        }
    }
}