.home {
    margin: auto;
    margin-top: 0;
    width: 100%;
    border-radius: 1rem;
    background: linear-gradient($black-bg, $black-bg), url(../images/homebg1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .content {
        text-align: center;
        span {
            font-weight: bolder;
            color: transparent;
            -webkit-text-stroke: .1rem $blue;
            font-size: 4vw;
            display: block;
        }
        h3 {
            font-size: 6vw;
            color: $white;
        }
        p {
            max-width: 60rem;
            margin: 1rem auto;
            font-size: 1.4rem;
            color: $light-color;
            line-height: 2;
        }
    }
}